// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}

.top {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(224,36,65,1) 0%, rgba(253,29,29,1) 38%, rgba(252,250,69,1) 51%, rgba(69,252,165,1) 62%, rgba(101,69,252,1) 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 .introduction {
   opacity: 0.5;
   color: white;

 }
