// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}

.jumbotron-extend{
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url("../img/tabimarutop.jpg") no-repeat center center;
    background-size: cover;
}