  <div class= "top text-center font-weight-bold display-1 p-5 mt-5">Tabi★Maru</div>
    <div class= "introduction text-center lead bg-dark col-12 py-5 my-5">
    tabimaruは
    旅の仲間と丸くつながる
    国内旅行好きが集まる。<br>コミュニティーサイトです。
    日本にはまだまだ素敵な場所がたくさんあります！<br>
    ぜひ、あなたの住んでいる県の魅力を発信してみましょう。
    またあなたが旅行先で<br>
    訪れた素敵な場所や食べ歩きした場所などを写真と共に投稿してみましょう。
    </div>


<div class="swiper position-fixed slide vh-100 vw-100" style="">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-100 h-100">
      <div class="img w-100 h-100" style="background: url(<%= image_path 'spring.jpg' %>) center center / cover no-repeat fixed;"></div>
    </div>
    <div class="swiper-slide">
      <div class="img w-100 h-100" style="background: url(<%= image_path 'summer.jpg' %>) center center / cover no-repeat fixed;"></div>
    </div>
    <div class="swiper-slide">
      <div class="img w-100 h-100" style="background: url(<%= image_path 'autum.jpg' %>) center center / cover no-repeat fixed;"></div>
    </div>
    <div class="swiper-slide">
      <div class="img w-100 h-100" style="background: url(<%= image_path 'winter.jpg' %>) center center / cover no-repeat fixed;"></div>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    speed: 15000, // FIXME: 秒数調整
    loop: true,
    autoplay: {
      delay: 15000 // FIXME: 秒数調整
    },
    effect: 'fade',
  });
</script>

