<div class= "title">Tabi★Maru</div>
<div class= "about">
tabimaruは
国内旅行好きが集まる。コミュニティーサイトです。<br>
</div>
<div class= "about">
日本にはまだまだ素敵な場所がたくさんあります！あなたが旅行先で<br>
</div>
<div class= "about">
訪れた素敵な場所や食べ歩きした場所を写真と共に投稿してみましょう。
</div>
