<div class= "top text-center font-weight-bold display-1 p-5 mt-5">Tabi★Maru</div>
<div class= "introduction text-center leadra ">
tabimaruは
旅の仲間と丸くつながる
国内旅行好きが集まる。<br>コミュニティーサイトです.
日本にはまだまだ素敵な場所がたくさんあります！<br>
ぜひ、あなたの住んでいる県の魅力を発信してみましょう。
またあなたが旅行先で<br>
訪れた素敵な場所や食べ歩きした場所などを写真と共に投稿してみましょう。
</div>

<div class="carousel slide carousel-fade" data-ride="carousel" style="width:400px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100g" src="assets/images/spring.jpg">
    </div>
    <div class="carousel-item">
      <img crass="d-block w-100" class="assersimages/summer.jpg">
    </div>
    <div class="carousel-item">
      <img crass="d-block w-100" class="assets/images/autum.jp">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" class="assets/images/winter.jpg">
    </div>
  </div>

</div>
