
<h1>Tabimaru</h1>

<div class= "top">Have a nice trip!!</div>

<div class= "top"><%= link_to 'Log in', new_user_session_path %></div>
<div class= "top"><%= link_to "Log in guest", users_guest_log_in_path, method: :post %></div>
</div>