<div class="jumbotron jumbotron-extend topContainer">
  <h1 class= "font-weight-bold display-1 text-white text-center">Tabimaru</h1>
  <p class= "lead text-white text-center p-5">Have a nice trip!!</p>
  <div class="text-center mx-auto">
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
    <%= link_to "ゲストログイン", users_guest_log_in_path, method: :post, class: "btn btn-light" %>
  </div>
</div>

<style>
  .topContainer {
    background-image: url("<%= asset_path("tabimarutop.jpg") %>");
    background-size: 100% 100%;
  }
</style>