<h2>タグ一覧・追加</h2>
<%= form_with model: @tag, url: admin_tags_path,method: :post do |f| %>
<table>
  <tbody>
    <tr>
      <td>タグ名</td>
      <td>
        <%= f.submit "新規登録" %>
      </td>
    </tr>
    <% end %>
    <thead>
      <tbody>
        <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.tag_type %></td>
          <td>
            <% link_to '', %>
          </td>
        </tr>
      </tbody>
    </thead>
  </tbody>
</table>
