<h1>User index</h1>
<table>
  <tr>
    <% @users.each do |user| %>
    <td><%= link_to users_mypage(@users) do %>
          <%= image_tag current_user.get_image(30,30) %>
        <% end %>
    </td>

    <td><%= current_user.name %></td>
    <td><%= current_user.introduction %></td>
   <% end %>
  </tr>
</table>
